<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--	<bean id="alien1" class="com.telusko.Alien" scope="singleton">  -->
	<bean id="alien1" class="com.telusko.Alien" >
		<property name="age" value="21"> </property>	
	</bean>
	

	
	<bean id="lap" class="com.telusko.Laptop">
	</bean>
</beans>
